* {
			margin: 0;
			padding: 0;
		}
		div {
			padding: 0;
			width:300px;
			box-sizing: border-box;
			background-color: #3C3E57;
		}
		header {
			margin:0;
			width: 300px;
			background: linear-gradient(to top, #0467ac, #63a7d6, #b6dbf5);
			background: -webkit-gradient(to top, #0467ac, #63a7d6, #b6dbf5);
			box-sizing: border-box;
			margin-bottom: 15px;
		}
		header h2 {
			font-size: 18px;
			font-width: 700;
			color: #fff;
			line-height:35px;
			text-indent: 1em;
			box-sizing: border-box;
		}
		/*大标题结束*/
		.header {
			width:250px;
			margin-left: 50px;
			box-sizing: border-box;
		}
		.one {
			width: 250px;
			background: linear-gradient(to bottom,#e4f1fa, #BDDFF7,#666);
			background: -webkit-gradient(to bottom,#e4f1fa, #BDDFF7,#666);
		}
		h3 {
			font-size: 14px;
			font-weight: 700;
			line-height: 30px;
			text-indent: 1em;
		}
		a {
			color: #0565c6;
			text-decoration: none;
		}
		a:hover {
			text-decoration: underline;
		}
		/*每个小标题结束*/
		/*内容*/
		.select-1 {
			width:250px;
			padding-right: 10px;
			box-sizing: border-box;
		}
		p {
			text-indent: 1em;
		}
		p>a {
			font-size: 12px;
			line-height: 26px;
			color:#666;
		}
		p a:hover {
			color: #f60;
			text-decoration: underline;
		}