* {
	margin: 0;
	padding: 0;
}
body {
	background: gray;
}
/*头部*/
.header {
	width: 230px;
	background-color: #000;
}
h2 {
	color: #fff;
	text-indent: 1em;
}
/*身体*/
.overall {
	width: 230px;
	background: #fff;
}
.overall dl  img {
	width: 1em;
	height: 1em;
}
h4 {
	display: inline-block;
}
dd,a {
	display: inline-block;
	margin-left: 8px;
	text-decoration:none;
}
dt {
	display: block;
	margin-bottom:1px dashed red;
}
